<% layout('layouts/boilerplate')%>

<h1>All Campgrounds</h1>
<%- include("../partials/search") %> 
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>


        <% for (let campground of campgrounds){%>
            <div class="card mb-2">
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid" alt="" src="<%=campground.images[0]? campground.images[0].url :''%>">
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <h5 class="card-title text-dark"><%= campground.title %> </h5>
                            <p class="card-text text-dark"><%= campground.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.location%></small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                        </div>
                    </div>
                </div>
                 <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger container">Delete</button>
                </form>
            </div>
            <% }%>
            
    

<!-- <script src="/js/search.js"></script> -->